:root {
  --color-primary: #e31837;
  --color-secondary: #ffffff;
  --color-background: #262626;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  margin: 0;
}

.logo {
  width: 300px;
  height: 300px;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: relative;
  animation: rotate 3s ease-in-out alternate;
}

.line-2,
.line-3,
.line-4,
.circle {
  background-color: var(--color-secondary);
  position: absolute;
}

.line-1 {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 15px solid var(--color-secondary);
  border-right-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.line-2 {
  width: 50px;
  height: 15px;
  top: 150px;
  right: 30px;
}

.line-3 {
  width: 140px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.line-4 {
  width: 50px;
  height: 15px;
  top: 205px;
  left: 150px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 80px;
  left: 80px;
}

@keyframes rotate {
  0% {
    width: 0;
    height: 0;
    transform: translate(-1000px);
  }

  60% {
    width: 0;
    height: 0;
  }

  95% {
    width: 300px;
    height: 300px;
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
