body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 0;
  height: 0;
  border-top: 100px solid #eee;
  border-left: 170px solid #ddd;
  border-bottom: 100px solid #ccc;
  border-right: 170px solid #ddd;
}

.heart {
  width: 32px;
  height: 32px;
  background-color: #c90d45;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 10%;
  animation: heartbeat 1.2s linear infinite;
}

.heart:before {
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c90d45;
  border-radius: 50%;
}

.heart::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-color: #c90d45;
  border-radius: 50%;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }

  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }

  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }

  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }

  70% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}
