:root {
  --main-color: #20bc7d;
  --secondary-color: #1fb67c;
  --tertiary-color: #26c893;
  --accent-color: #55ddb9;
  --background-color: #233637;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.diamond {
  width: 200px;
  height: 200px;
  position: relative;
  transform: rotate(45deg);
}

span {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 50px solid var(--main-color);
  border-left: 50px solid var(--secondary-color);
  border-bottom: 50px solid var(--tertiary-color);
  border-right: 50px solid var(--accent-color);
}

span:nth-child(1) {
  top: 0;
  left: 0;
  border-top: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 50px solid var(--tertiary-color);
  border-right: 50px solid var(--secondary-color);
}

span:nth-child(2) {
  top: 0;
  left: 50%;
}

span:nth-child(3) {
  top: 50%;
  left: 0;
}

span:nth-child(4) {
  top: 50%;
  left: 50%;
}
