body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera {
  width: 460px;
  height: 260px;
  background-color: #2d2d2f;
  border-radius: 15px;
  box-shadow: 0 10px 15px -13px rgba(0, 0, 0, 100);
  position: relative;
}

.camera h1 {
  text-align: center;
  color: #bebebe;
  letter-spacing: 12px;
  line-height: 0;
  position: absolute;
  top: 2%;
  left: 36.5%;
}

.lens {
  width: 160px;
  height: 160px;
  background-color: #db510c;
  border: 10px solid #fff;
  box-shadow: 0 8px 0 0 #414141;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-lens {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-top: 70px solid #e2873b;
  border-right: 70px solid #fcb96f;
  border-bottom: 70px solid #e2873b;
  border-left: 70px solid #fcb96f;
}

.flash {
  position: absolute;
  top: 20%;
  right: 8%;
  width: 20px;
  height: 20px;
  background-color: #fcb96f;
  border: 3px solid #fff;
  border-radius: 50%;
}

.button {
  position: absolute;
  top: -3%;
  left: 10%;
  background-color: #555555;
  width: 50px;
  height: 10px;
  border-radius: 10%;
}
