:root {
  --color-red: #e33e2b;
  --color-green: #2ba14b;
  --color-blue: #3a7cec;
  --color-yellow: #f1b500;
  --background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 150px;
  height: 150px;
  position: relative;
}

.top {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  border-top: 30px solid var(--color-red);
  border-right: 30px solid transparent;
  border-bottom: 30px solid var(--color-green);
  border-left: 30px solid var(--color-yellow);
}

.half {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  border: 30px solid transparent;
  border-right: 30px solid var(--color-blue);
  transform: rotate(45deg);
  z-index: -1;
}

.line {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-blue);
  border-bottom-right-radius: 15px;
}
